examples\peripheral\blinky\pca10056\blank\ses\Output
examples\peripheral\blinky_FreeRTOS\pca10056\blank\ses\Output
examples\peripheral\blinky_RTC_FreeRTOS\pca10056\blank\ses\Output
examples\peripheral\blinky_systick\pca10056\blank\ses\Output
examples\peripheral\bsp\pca10056\blank\ses\Output

